<!DOCTYPE html>
<html>
<head>
  <title>Biddr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav navbar-nav navbar-left" href="#"><i class="fa fa-gavel fa-3x"></i></a>
      <a class="navbar-brand" href="#">Biddr</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <!-- Auctions Actions -->
        <li><%= link_to "All Auctions", auctions_path %></li>
        <li><%= link_to "Create New Auction", new_auction_path %></li>
        <% if user_logged_in? %>
          <li><%= link_to "My Bids", bids_path %></li>
        <% end %>
        <!-- Create a dropdown button for all the user options -->
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">
              <% if user_logged_in? %>
                Hi <%= current_user.first_name %>
              <% else %>
                Account
              <% end %>
            </button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <% if user_logged_in? %>
                  <!-- Welcome back <%= current_user.first_name %> -->
                  <%= link_to "Logout", sessions_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %>
                <% else %>
                  <%= link_to "Login", new_session_path%>
                  <%= link_to "Sign Up", new_user_path%>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- NOTICE / ALERTS -->
<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif alert  %>
  <div class="alert alert-danger">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<!-- MAIN BODY -->
<div class="main-content">
  <%= yield %>
</div>

</body>
</html>
